.banner {
    min-height: 400px;
    padding: 50px 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.role {
    font-size: 25px;
    font-weight: 500;
}

.scWrapper {
    text-align: center;
    margin-bottom: 100px;
}